<?xml version="1.0"?>
<launch>
  
  <arg name="prefix" default="summit_xl_"/>
  <arg name="rviz_config" default="$(find summit_xl_gazebo)/rviz/summitxl_a_std.rviz"/>
  <arg name="robot_model"  default="summit_xl_std.urdf.xacro"  doc="Different robot versions: ('')"/>
  
  <!-- Load the URDF into ROS parameter server -->
  <arg name="urdf_file" default="$(find xacro)/xacro '$(find summit_xl_description)/robots/$(arg robot_model)' prefix:=$(arg prefix) --inorder" />
  <param name="robot_description" command="$(arg urdf_file)" />


  <!-- send fake joint values -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="TRUE"/>
  </node>

  <!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

  <!-- Show in Rviz   -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_config)"/> 
  
</launch>

