<?xml version="1.0"?>
<robot name="structure" xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="structure_laser" params="prefix parent *origin">

	  <joint name="${prefix}_joint" type="fixed">
	    <axis xyz="0 1 0"/>
	    <xacro:insert_block name="origin"/>
	    <parent link="${parent}"/>
	    <child link="${prefix}_link"/>
	  </joint>

	  <link name="${prefix}_link">
	    <inertial>
	      <mass value="0.001"/>
	      <origin rpy="0 0 0" xyz="0 0 0"/>
	      <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.000001" iyz="0" izz="0.0001"/>
	    </inertial>
	    <visual>
	      <origin rpy="0 0 0" xyz="0 0 0"/>
	      <material name="alu_color">
           <color rgba="0.5 0.5 0.5 1"/>
        </material>
	      <geometry>
	        <mesh filename="package://summit_xl_description/meshes/structures/structure_hokuyo.stl"/>
	      </geometry>
	    </visual>
	    <collision>
	      <origin rpy="0 0 0" xyz="0 0 0"/>
	      <geometry>
	        <mesh filename="package://summit_xl_description/meshes/structures/structure_hokuyo.dae"/>
	      </geometry>
	    </collision>
	  </link>

	  <gazebo reference="${prefix}_link">
	    <material>Gazebo/White</material>
	    <gravity>true</gravity>
	  </gazebo>

  </xacro:macro>

</robot>
