<?xml version="1.0"?>
<launch>

  <!-- Robot -->
  <arg name="robot_id" default="$(optenv ROBOT_ID robot)"/>
  <arg name="prefix" default="$(arg robot_id)_"/>

  <!-- Robot configuration -->
  <arg name="kinematics" default="$(optenv ROBOT_KINEMATICS diff)"/>
  <arg name="has_safety_controller" default="$(optenv HAS_SAFETY_CONTROLLER false)"/>

  <!-- What navigation config package to use -->
  <arg name="navigation_package" default="$(optenv NAVIGATION_PACKAGE summit_xl_navigation)"/>
  <arg name="config_folder" default="$(eval find(navigation_package) + '/config')" />

  <!-- Topics argumments -->
  <arg name="cmd_vel_topic" default="move_base/cmd_vel"/>
  <arg name="odom_topic" default="robotnik_base_control/odom"/>
  <arg name="front_scan_topic" default="$(optenv ROBOT_NAVIGATION_FRONT_2D_SCAN front_laser/scan_filtered)"/>
  <arg name="rear_scan_topic" default="$(optenv ROBOT_NAVIGATION_REAR_2D_SCAN rear_laser/scan_filtered)"/>
  <arg name="front_rgbd_to_scan_topic" default="$(optenv ROBOT_NAVIGATION_FRONT_RGBD_TO_SCAN front_rgbd_camera/point_cloud_scan_filtered)"/>

  <!-- Folders tree -->
  <!-- Config_folder / costmap_folder                 / costmap_config_file                                            -->
  <!--       ""      / local or global planner_folder / planner_config_file depending of type                          -->
  <!--       ""      / local planner folder           /(teb, eband, ..)_local_planner_(diff, omni, ..)_params.yaml     -->
  <!--       ""      / global planner folder          / (global,sbpl, ..)_global_planner_params.yaml                   -->

  <!-- Configuration folder, to store different configurations -->
  <arg name="global_planner_folder" default="global_planners"/>
  <arg name="local_planner_folder" default="local_planners"/>
  <!-- Maps configuration -->
  <arg name="costmap_common_params" default="costmap_common_params.yaml" />
  <arg name="global_costmap_params" default="global_costmap_params_map_nomap.yaml" />
  <arg name="local_costmap_params" default="local_costmap_params.yaml" />

  <arg name="planners_config" default="$(find summit_xl_navigation)/config/planners.yaml"/>
  <arg name="controllers_config" default="$(find summit_xl_navigation)/config/controllers.yaml"/>
  <arg name="recovery_behaviors_config" default="$(find summit_xl_navigation)/config/recovery_behaviors.yaml"/>
  <arg name="move_base_flex_config" default="$(find summit_xl_navigation)/config/move_base_flex.yaml"/>

  <!-- Maps path -->
  <arg name="costmap_common_params_file" default="$(eval config_folder + '/' + costmap_common_params)" />
  <arg name="global_costmap_params_file" default="$(eval config_folder + '/' + global_costmap_params)" />
  <arg name="local_costmap_params_file" default="$(eval config_folder + '/' + local_costmap_params)" />

  <!-- Planners configuration -->
  <arg name="global_planner" default="$(optenv ROBOT_MOVE_BASE_GLOBAL_PLANNER global)" />
  <arg name="global_planner_params" default="$(arg global_planner)_planner_params.yaml" />
  <arg name="local_planner" default="$(optenv ROBOT_MOVE_BASE_LOCAL_PLANNER teb)" />
  <arg name="local_planner_params" default="$(arg local_planner)_local_planner_$(arg kinematics)_params.yaml" />

  <!-- Move_base path -->
  <arg name="move_base_params_file" default="$(arg config_folder)/move_base/move_base_params.yaml"/>

  <!-- Planners path -->
  <arg name="global_planner_params_file" default="$(eval config_folder + '/' + global_planner_params)" />
  <arg name="local_planner_params_file" default="$(eval config_folder + '/' + local_planner_params)" />

  <!-- Overwrite frames, should not be used unless reasonable exception -->
  <arg name="overwrite_frames" default="false" />
  <arg name="odom_frame" default="$(arg prefix)odom"/>
  <arg name="base_frame" default="$(arg prefix)base_footprint"/>
  <arg name="global_frame" default="world"/>
  <arg name="odom_frame_param_name" default="" /> <!-- this depends on planners used -->
  <arg name="base_frame_param_name" default="" /> <!-- this depends on planners used -->

  <!-- Run move_base -->
  <node pkg="mbf_costmap_nav" type="mbf_costmap_nav" respawn="false" name="move_base_flex" output="screen">

    <param name="tf_timeout" value="1.5"/>
    <param name="planner_max_retries" value="3"/>
    <remap from="cmd_vel" to="move_base_flex/cmd_vel"/>
    <remap from="odom" to="$(arg odom_topic)" />

    <rosparam file="$(arg planners_config)" command="load" subst_value="true"/>
    <rosparam file="$(arg controllers_config)" command="load" subst_value="true"/>
    <rosparam file="$(arg move_base_flex_config)" command="load" subst_value="true"/>
    <rosparam file="$(arg recovery_behaviors_config)" command="load" subst_value="true"/>

    <!-- Move base params -->
    <!-- <rosparam file="$(arg move_base_params_file)" command="load" subst_value="true"/> -->

    <!-- Global costmap params-->
    <rosparam file="$(arg costmap_common_params_file)" command="load" ns="global_costmap" subst_value="true"/>
    <rosparam file="$(arg global_costmap_params_file)" command="load" subst_value="true"/>

    <!-- Local costmap params-->
    <rosparam file="$(arg costmap_common_params_file)" command="load" ns="local_costmap" subst_value="true"/>
    <rosparam file="$(arg local_costmap_params_file)" command="load" subst_value="true"/>

    <!-- Global planner params-->
    <rosparam file="$(arg global_planner_params_file)" command="load" subst_value="true"/>

    <!-- Local planner params-->
    <rosparam file="$(arg local_planner_params_file)" command="load" subst_value="true"/>

    <!-- Overwrite frames, should not be used unless reasonable reason -->
    <!--param if="$(arg overwrite_frames)" name="$(arg odom_frame_param_name)" value="$(arg odom_frame)" />
    <param if="$(arg overwrite_frames)" name="$(arg base_frame_param_name)" value="$(arg base_frame)" /-->

  </node>

</launch>
