<?xml version="1.0"?>
<launch>
  <arg name="config_package" default="$(optenv ROBOT_NAVIGATION_CONFIG_PACKAGE summit_xl_navigation)"/>
  <arg name="config_folder" default="config"/>
  <arg name="config_path" default="$(eval find(config_package) + '/' + config_folder)"/>

  <arg name="id_robot" default="$(optenv ROBOT_ID robot)"/>
  <arg name="prefix" default="$(arg id_robot)_"/>
  
  <!-- Topics argumments -->
  <arg name="cmd_vel_topic" default="move_base/cmd_vel"/>
  <arg name="odom_topic" default="robotnik_base_control/odom"/>
  <arg name="front_scan_topic" default="$(optenv ROBOT_NAVIGATION_FRONT_2D_SCAN front_laser/scan)"/>
  <arg name="rear_scan_topic" default="$(optenv ROBOT_NAVIGATION_REAR_2D_SCAN rear_laser/scan)"/>
  <arg name="front_rgbd_to_scan_topic" default="$(optenv ROBOT_NAVIGATION_FRONT_RGBD_TO_SCAN front_rgbd_camera/point_cloud_scan_filtered)"/>
 
  <!-- Frames arguments -->
  <arg name="global_frame" default="$(arg prefix)map"/>
  <arg name="odom_frame" default="$(arg prefix)odom"/>
  <arg name="base_frame" default="$(arg prefix)base_footprint"/>
  <arg name="scan_topic" default="front_laser/scan"/>
  <!--arg name="base_global_planner" default="voronoi_planner/VoronoiPlanner"/-->
  <arg name="base_global_planner" default="global_planner/GlobalPlanner"/>
  
  <!-- Run move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base">
	<rosparam file="$(find summit_xl_navigation)/config/move_base_params.yaml" command="load" />
	<rosparam file="$(find summit_xl_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
	<rosparam file="$(find summit_xl_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
	<rosparam file="$(find summit_xl_navigation)/config/local_costmap_params.yaml" command="load" />
	<rosparam file="$(find summit_xl_navigation)/config/global_costmap_params_map.yaml" command="load" />
	<!--rosparam file="$(find summit_xl_navigation)/config/teb_local_planner_params.yaml" command="load" /-->
	<rosparam file="$(find summit_xl_navigation)/config/teb_local_planner_omni_params.yaml" command="load" />
	<!--rosparam file="$(find summit_xl_navigation)/config/teb_local_planner_diff_params.yaml" command="load" /-->
	<!-- reset frame_id parameters using user input data -->
	<param name="global_costmap/obstacle_layer/scan/sensor_frame" value="$(arg prefix)front_laser_link"/>
	<param name="local_costmap/obstacle_layer/scan/sensor_frame" value="$(arg prefix)front_laser_link"/>
	<param name="global_costmap/obstacle_layer/scan/topic" value="$(arg scan_topic)"/>
	<param name="local_costmap/obstacle_layer/scan/topic" value="$(arg scan_topic)"/>
	<param name="local_costmap/global_frame" value="$(arg odom_frame)"/>
	<param name="local_costmap/robot_base_frame" value="$(arg base_frame)"/>
	<param name="global_costmap/global_frame" value="$(arg global_frame)"/>	
	<param name="global_costmap/robot_base_frame" value="$(arg base_frame)"/>
	<param name="DWAPlannerROS/global_frame_id" value="$(arg odom_frame)"/>
	<!--param name="TebLocalPlannerROS/map_frame" value="$(arg global_frame)"/-->
	<!--param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS" /-->    
	<param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS"/>    
	<!--param name="base_local_planner" value="eband_local_planner/EBandPlannerROS" /-->    
	<!--param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" /-->    	
	<param name="controller_frequency" value="5.0" />
	<param name="controller_patience" value="15.0" /> 

	<!-- Global Planner Selection -->
	<param name="base_global_planner" value="$(arg base_global_planner)"/>

	<!-- Global Planner Config -->
	<!--param name="GlobalPlanner/lethal_cost" value="253" />
	<param name="GlobalPlanner/neutral_cost" value="66" />
	<param name="GlobalPlanner/cost_factor" value="0.55" />
	<param name="GlobalPlanner/use_dijkstra" value="false" /-->

	<!-- DWA Local Planner Config -->
	<!--rosparam file="$(find summit_xl_navigation)/config/dwa_local_planner_params.yaml"/-->
  </node>
  
    <!-- Frames arguments -->
    <arg name="global_frame" value="$(arg global_frame)"/>
    <arg name="odom_frame" value="$(arg odom_frame)"/>
    <arg name="base_frame" value="$(arg base_frame)"/>

    <arg name="kinematics" value="$(arg kinematics)"/>

  </include>

</launch>
