<?xml version="1.0"?>
<launch>
  <arg name="id_robot" default="robot"/>
  <arg name="prefix" default="$(arg id_robot)_"/>
  
  <!-- Topics argumments -->
  <arg name="cmd_vel_topic" default="move_base/cmd_vel"/>
  <arg name="odom_topic" default="robotnik_base_control/odom"/>
  <arg name="front_scan_topic" default="$(optenv ROBOT_NAVIGATION_FRONT_2D_SCAN front_laser/scan)"/>
  <arg name="rear_scan_topic" default="$(optenv ROBOT_NAVIGATION_REAR_2D_SCAN rear_laser/scan)"/>
  <arg name="front_rgbd_to_scan_topic" default="$(optenv ROBOT_NAVIGATION_FRONT_RGBD_TO_SCAN front_rgbd_camera/point_cloud_scan_filtered)"/>
 
  <!-- Frames arguments -->
  <arg name="global_frame" default="$(arg prefix)map"/>
  <arg name="odom_frame" default="$(arg prefix)odom"/>
  <arg name="base_frame" default="$(arg prefix)base_footprint"/>

  <arg name="kinematics" default="diff"/>

  <!-- Run move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base">
    <remap from="cmd_vel" to="$(arg cmd_vel_topic)" />
	<remap from="odom" to="$(arg odom_topic)" />
	
	<!-- Move base params -->
	<rosparam file="$(find summit_xl_navigation)/config/move_base_params.yaml" command="load" />
	<!-- reset move_base parameters using user input data -->
	
	<!-- Global costmap params-->
	<rosparam file="$(find summit_xl_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
	<rosparam file="$(find summit_xl_navigation)/config/eband_global_costmap_params.yaml" command="load" />
	<!-- reset global_costmap parameters using user input data -->
	<param name="global_costmap/obstacle_laser_layer/front_laser/sensor_frame" value="$(arg prefix)front_laser_link"/>
	<param name="global_costmap/obstacle_laser_layer/front_laser/topic" value="$(arg front_scan_topic)"/>
	<param name="global_costmap/obstacle_laser_layer/rear_laser/sensor_frame" value="$(arg prefix)rear_laser_link"/>
    <param name="global_costmap/obstacle_laser_layer/rear_laser/topic" value="$(arg rear_scan_topic)"/>
    <param name="global_costmap/obstacle_camera_layer/front_rgbd_to_scan/sensor_frame" value="$(arg prefix)front_rgbd_camera_link"/>
    <param name="global_costmap/obstacle_camera_layer/front_rgbd_to_scan/topic" value="$(arg front_rgbd_to_scan_topic)"/>
	<param name="global_costmap/global_frame" value="$(arg global_frame)"/>
	<param name="global_costmap/robot_base_frame" value="$(arg base_frame)"/>
	

	<!-- Local costmap params-->
	<rosparam file="$(find summit_xl_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
	<rosparam file="$(find summit_xl_navigation)/config/local_costmap_params.yaml" command="load" />
	<!-- reset local_costmap parameters using user input data -->
	<param name="local_costmap/obstacle_laser_layer/front_laser/sensor_frame" value="$(arg prefix)front_laser_link"/>
	<param name="local_costmap/obstacle_laser_layer/front_laser/topic" value="$(arg front_scan_topic)"/>
	<param name="local_costmap/obstacle_laser_layer/rear_laser/sensor_frame" value="$(arg prefix)rear_laser_link"/>
    <param name="local_costmap/obstacle_laser_layer/rear_laser/topic" value="$(arg rear_scan_topic)"/>
    <param name="local_costmap/obstacle_camera_layer/front_rgbd_to_scan/sensor_frame" value="$(arg prefix)front_rgbd_camera_link"/>
    <param name="local_costmap/obstacle_camera_layer/front_rgbd_to_scan/topic" value="$(arg front_rgbd_to_scan_topic)"/>
	<param name="local_costmap/global_frame" value="$(arg odom_frame)"/>
	<param name="local_costmap/robot_base_frame" value="$(arg base_frame)"/>
	
	
	<!-- Load local_planner diff or omni parameters -->
	<rosparam file="$(find summit_xl_navigation)/config/eband_local_planner_$(arg kinematics)_params.yaml" command="load" />
	<!-- reset teb parameters using user input data -->

  </node>

</launch>

