<?xml version="1.0"?>
<launch>
  <arg name="config_package" default="$(optenv ROBOT_NAVIGATION_CONFIG_PACKAGE summit_xl_navigation)"/>
  <arg name="config_folder" default="config"/>
  <arg name="config_path" default="$(eval find(config_package) + '/' + config_folder)"/>

  <arg name="id_robot" default="$(optenv ROBOT_ID robot)"/>
  <arg name="prefix" default="$(arg id_robot)_"/>
  
  <!-- Topics argumments -->
  <arg name="cmd_vel_topic" default="move_base/cmd_vel"/>
  <arg name="odom_topic" default="robotnik_base_control/odom"/>
  <arg name="front_scan_topic" default="$(optenv ROBOT_NAVIGATION_FRONT_2D_SCAN front_laser/scan)"/>
  <arg name="rear_scan_topic" default="$(optenv ROBOT_NAVIGATION_REAR_2D_SCAN rear_laser/scan)"/>
  <arg name="front_rgbd_to_scan_topic" default="$(optenv ROBOT_NAVIGATION_FRONT_RGBD_TO_SCAN front_rgbd_camera/point_cloud_scan_filtered)"/>
 
  <!-- Frames arguments -->
  <arg name="global_frame" default="$(arg prefix)map"/>
  <arg name="odom_frame" default="$(arg prefix)odom"/>
  <arg name="base_frame" default="$(arg prefix)base_footprint"/>

  <arg name="kinematics" default="diff"/>
  <arg name="footprint_model" default="$(optenv ROBOT_FOOTPRINT_MODEL rbkairos)"/>

  <!-- Run move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base">
    <remap from="cmd_vel" to="$(arg cmd_vel_topic)" />
    <remap from="odom" to="$(arg odom_topic)" />
    
    <!-- Move base params -->
    <rosparam file="$(arg config_path)/move_base_params.yaml" command="load" />
    
    <!-- Global costmap params-->
    <rosparam file="$(arg config_path)/costmap_common_params.yaml" command="load" ns="global_costmap" subst_value="true"/>
    <rosparam file="$(arg config_path)/eband_global_costmap_params.yaml" command="load" subst_value="true"/>
    
    <!-- Local costmap params-->
    <rosparam file="$(arg config_path)/costmap_common_params.yaml" command="load" ns="local_costmap" subst_value="true"/>
    <rosparam file="$(arg config_path)/local_costmap_params.yaml" command="load" subst_value="true"/>
    
    <!-- Load local_planner diff or omni parameters -->
    <rosparam file="$(arg config_path)/eband_local_planner_$(arg kinematics)_params.yaml" command="load" />
    <!-- overwrites previous footprint values -->
    <rosparam file="$(arg config_path)/planner_footprints/$(arg footprint_model).yaml" command="load"/>
  </node>

</launch>

