<?xml version="1.0"?>
<launch>
	
  <arg name="prefix" default="summit_xl"/> 

  <!-- Run move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find summit_xl_navigation)/config/move_base_params.yaml" command="load" />
    <rosparam file="$(find summit_xl_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find summit_xl_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find summit_xl_navigation)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find summit_xl_navigation)/config/global_costmap_params_map.yaml" command="load" />
    <rosparam file="$(find summit_xl_navigation)/config/teb_local_planner_params.yaml" command="load" />

	<!-- reset frame_id parameters using user input data -->
	<param name="global_costmap/obstacle_layer/scan/sensor_frame" value="$(arg prefix)front_laser_link"/>
	<param name="local_costmap/obstacle_layer/scan/sensor_frame" value="$(arg prefix)front_laser_link"/>
	<param name="local_costmap/global_frame" value="$(arg prefix)odom"/>
	<param name="local_costmap/robot_base_frame" value="$(arg prefix)base_footprint"/>
	<param name="global_costmap/global_frame" value="$(arg prefix)map"/>
	<param name="global_costmap/robot_base_frame" value="$(arg prefix)base_footprint"/>
    <param name="DWAPlannerROS/global_frame_id" value="$(arg prefix)odom"/>
    <param name="TebLocalPlannerROS/map_frame" value="$(arg prefix)map"/>
        
    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />    
    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
    <param name="controller_frequency" value="5.0" />
    <param name="controller_patience" value="15.0" /> 
     <remap from="cmd_vel" to="summit_xl_control/cmd_vel" /> 
    <remap from="odom" to="summit_xl_control/odom" />    
    <!--remap from="map" to="/map"/-->
  
  </node>
  
</launch>
