<?xml version="1.0"?>
<launch>
  <!-- TEB LOCAL PLANNER -->
  <arg name="prefix" default="summit_xl_"/>
  <arg name="cmd_vel_topic" default="move_base/cmd_vel"/> <!-- using twist mux -->
  <arg name="odom_topic" default="robotnik_base_control/odom"/>
  <arg name="global_frame" default="$(arg prefix)map"/>
  <arg name="odom_frame" default="$(arg prefix)odom"/>
  <arg name="base_frame" default="$(arg prefix)base_footprint"/>
  <arg name="scan_topic" default="front_laser/scan"/>
	<arg name="omni" default="false"/>

  <!-- Run move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base">
	<rosparam file="$(find summit_xl_navigation)/config/move_base_params.yaml" command="load" />
	<rosparam file="$(find summit_xl_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
	<rosparam file="$(find summit_xl_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
	<rosparam file="$(find summit_xl_navigation)/config/local_costmap_params.yaml" command="load" />
	<rosparam file="$(find summit_xl_navigation)/config/global_costmap_params_map.yaml" command="load" />
	<rosparam if="$(arg omni)" file="$(find summit_xl_navigation)/config/teb_local_planner_omni_params.yaml" command="load" />
	<rosparam unless="$(arg omni)" file="$(find summit_xl_navigation)/config/teb_local_planner_diff_params.yaml" command="load" />
	<!-- reset frame_id parameters using user input data -->
	<param name="global_costmap/obstacle_layer/scan/sensor_frame" value="$(arg prefix)front_laser_link"/>
	<param name="local_costmap/obstacle_layer/scan/sensor_frame" value="$(arg prefix)front_laser_link"/>
	<param name="global_costmap/obstacle_layer/scan/topic" value="$(arg scan_topic)"/>
	<param name="local_costmap/obstacle_layer/scan/topic" value="$(arg scan_topic)"/>
	<param name="local_costmap/global_frame" value="$(arg odom_frame)"/>
	<param name="local_costmap/robot_base_frame" value="$(arg base_frame)"/>
	<param name="global_costmap/global_frame" value="$(arg global_frame)"/>
	<param name="global_costmap/robot_base_frame" value="$(arg base_frame)"/>
	<param name="DWAPlannerROS/global_frame_id" value="$(arg odom_frame)"/>
	<param name="TebLocalPlannerROS/map_frame" value="$(arg global_frame)"/>
	<param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
	<param name="controller_frequency" value="5.0" />
	<param name="controller_patience" value="15.0" />
	<remap from="cmd_vel" to="$(arg cmd_vel_topic)" />
	<remap from="odom" to="$(arg odom_topic)" />
  </node>

</launch>
