<?xml version="1.0"?>

<launch>
	<arg name="config_package" default="$(optenv ROBOT_NAVIGATION_CONFIG_PACKAGE summit_xl_navigation)"/>
	<arg name="config_folder" default="config"/>
	<arg name="config_path" default="$(eval find(config_package) + '/' + config_folder)"/>

	<arg name="node_name" default="range_filter_node"/>
	<arg name="config_file" default="scan_filter.yaml"/>
	<arg name="input_scan" default="front_laser/scan"/>
	<arg name="output_scan" default="front_laser/filtered_scan"/>

	<node pkg="laser_filters" type="scan_to_scan_filter_chain" name="$(arg node_name)">
		<rosparam command="load" file="$(arg config_path)/$(arg config_file)" />
		<remap from="scan" to="$(arg input_scan)"/>
		<remap from="scan_filtered" to="$(arg output_scan)"/>
	</node>
	
</launch>

