<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
   <material name="black_jr2">
	<color rgba="0.25098 0.25098 0.25098 1"/>
   </material>

   <material name="orange_jr2">
        <color rgba="1 0.65098 0 1"/>
   </material>

   <material name="white_jr2">
        <color rgba="0.68627 0.69804 0.67451 1"/>
   </material>

   <material name="grey_jr2">
        <color rgba="0.2 0.2 0.2 1.0"/>
   </material>

   <material name="blue_jr2">
        <color rgba="0.0 0.0 0.8 1.0"/>
   </material>

   <material name="green_jr2">
        <color rgba="0.0 0.8 0.0 1.0"/>
   </material>
</robot>
