<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


  <!-- ros control plugin -->
  <xacro:macro name="ros_control">
    <gazebo>
      <plugin name="ros_control" filename="libgazebo_ros_control.so">
        <!--<robotNamespace>/summit_xl</robotNamespace>-->
		<robotParam>robot_description</robotParam>
        <controlPeriod>0.001</controlPeriod>
	    <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
		<legacyModeNS>true</legacyModeNS>      
      </plugin>
    </gazebo>
	</xacro:macro>
	
	<!-- skid steering plugin -->
	<xacro:macro name="skid_steering" params="broadcastOdomTF prefix">
    <gazebo>
      <plugin name="skid_steer_drive_controller" filename="libgazebo_ros_skid_steer_drive.so">
			<!--<robotNamespace>/summit_xl</robotNamespace>-->
		    <updateRate>100.0</updateRate>
		    <leftFrontJoint>${prefix}joint_front_left_wheel</leftFrontJoint>  
		    <rightFrontJoint>${prefix}joint_front_right_wheel</rightFrontJoint>
		    <leftRearJoint>${prefix}joint_back_left_wheel</leftRearJoint>
		    <rightRearJoint>${prefix}joint_back_right_wheel</rightRearJoint>
		    <!-- wheelSeparation>0.566</wheelSeparation --> <!-- real parameter value -->
		    <wheelSeparation>1.5</wheelSeparation> <!-- works a bit better in Gazebo -->
		    <wheelDiameter>0.234</wheelDiameter>
		    <robotBaseFrame>${prefix}base_footprint</robotBaseFrame>
		    <torque>50</torque>
		    <commandTopic>robotnik_base_control/cmd_vel</commandTopic>
		    <odometryTopic>robotnik_base_control/odom</odometryTopic>
		    <!--odometryFrame>/odom</odometryFrame-->
		    <odometryFrame>${prefix}odom</odometryFrame>
		    <broadcastTF>${broadcastOdomTF}</broadcastTF>
      </plugin>
    </gazebo>
  </xacro:macro>
  
  <xacro:macro name="omni_steering" params="prefix publish_tf">
		<gazebo>
	    <plugin name="omni_steering" filename="libgazebo_ros_planar_move.so">
	      <commandTopic>robotnik_base_control/cmd_vel</commandTopic>  
	      <odometryTopic>robotnik_base_control/odom</odometryTopic>
	      <odometryFrame>${prefix}odom</odometryFrame>
	      <odometryRate>50.0</odometryRate>
	      <robotBaseFrame>${prefix}base_footprint</robotBaseFrame>
	      <publishTF>${publish_tf}</publishTF>     
	    </plugin>
	  </gazebo>
  </xacro:macro>

  <xacro:macro name="ros_force_based_move" params="publish_tf prefix">
	  <gazebo>
		 <plugin name="ros_force_based_move" filename="libgazebo_ros_force_based_move.so">
			 <commandTopic>robotnik_base_control/cmd_vel</commandTopic>  
			 <odometryTopic>robotnik_base_control/odom</odometryTopic>
	         <odometryFrame>${prefix}odom</odometryFrame>
			 <yaw_velocity_p_gain>10000.0</yaw_velocity_p_gain>
			 <x_velocity_p_gain>10000.0</x_velocity_p_gain>
			 <y_velocity_p_gain>10000.0</y_velocity_p_gain>
			 <robotBaseFrame>${prefix}base_footprint</robotBaseFrame>
			 <odometryRate>50.0</odometryRate>
			 <publishOdometryTf>${publish_tf}</publishOdometryTf>
		 </plugin>
	  </gazebo>
  </xacro:macro>

  <gazebo reference="base_footprint">
    <material>Gazebo/Green</material>
  </gazebo>
  

</robot>
