<?xml version="1.0"?>
<robot name="all_sensors" xmlns:xacro="http://ros.org/wiki/xacro">
	
	<!-- This file unifies all sensors that can be used on simulation, defined as xacro:macros -->

  <!-- Axis p5512 -->  
  <xacro:include filename="$(find summit_xl_description)/urdf/sensors/axis.urdf.xacro" />  

  <!-- Axis m5013 -->  
  <xacro:include filename="$(find summit_xl_description)/urdf/sensors/axis_m5013.urdf.xacro" />  
	
	<!-- Fotonic -->
  <xacro:include filename="$(find summit_xl_description)/urdf/sensors/fotonic.urdf.xacro" /> 
	
	<!-- GPS -->
  <xacro:include filename="$(find summit_xl_description)/urdf/sensors/gps.urdf.xacro" /> 
	
	<!-- Hokuyo urg04lx -->
	<xacro:include filename="$(find summit_xl_description)/urdf/sensors/hokuyo_urg04lx.urdf.xacro" />      
 
	<!-- Hokuyo utm30lx -->
  <xacro:include filename="$(find summit_xl_description)/urdf/sensors/hokuyo_utm30lx.urdf.xacro" />  
  
  <!-- Imu -->
  <xacro:include filename="$(find summit_xl_description)/urdf/sensors/imu.urdf.xacro" />  
    
  <!-- Kinect -->
  <xacro:include filename="$(find summit_xl_description)/urdf/sensors/kinect.urdf.xacro" /> 

  <!-- Asus Xtion PRO -->
  <xacro:include filename="$(find summit_xl_description)/urdf/sensors/asus_xtion_pro.urdf.xacro" /> 
    
</robot>
