<?xml version="1.0"?>
<launch>

<arg name="id_robot" default="$(optenv ROBOT_ID robot)"/>
<arg name="charge_docker_namespace" default="$(optenv ROBOT_RLC_CHARGE_DOCKER_NAMESPACE pp_docker)"/>
<arg name="charge_dock_offset_x" default="$(optenv ROBOT_RLC_CHARGE_DOCK_OFFSET_X 0.65)"/>
<arg name="prefix" default="$(arg id_robot)_" />
<arg name="global_frame" default="$(arg prefix)map" />

<arg name="debug" default="false" />
<arg unless="$(arg debug)" name="launch_prefix" value="" />
<arg     if="$(arg debug)" name="launch_prefix" value="terminator -m -x gdb --args" /> <!-- para depurar en la misma maquina -->

<group ns="$(arg id_robot)">
  <node name="robot_local_control" pkg="robot_local_control" type="robot_local_control_node" output="screen" launch-prefix="$(arg launch_prefix)">
    <rosparam file="$(find summit_xl_robot_local_control)/config/base_configuration.yaml" command="load" />
    <param name="odom_frame" value="$(arg prefix)odom" />
    <param name="base_frame" value="$(arg prefix)base_footprint" />
    <param name="global_frame" value="$(arg global_frame)" />

    <rosparam file="$(find summit_xl_robot_local_control)/config/robot_status.yaml" command="load" ns="RobotStatusComponent" />

    <rosparam file="$(find summit_xl_robot_local_control)/config/navigation.yaml" command="load" ns="NavigationComponent"/>
    <param name="NavigationComponent/ChargeComponent/docker_namespace" value="$(arg charge_docker_namespace)" />
    <param name="NavigationComponent/ChargeComponent/dock_offset_x" value="$(arg charge_dock_offset_x)"/>

    <rosparam file="$(find summit_xl_robot_local_control)/config/localization.yaml" command="load" ns="LocalizationComponent"/>
    <rosparam file="$(find summit_xl_robot_local_control)/config/operation.yaml" command="load" ns="OperationComponent"/>
    <rosparam file="$(find summit_xl_robot_local_control)/config/control.yaml" command="load" ns="ControlComponent"/>
    <param name="robot_id" value="$(arg id_robot)" />
  </node>
</group>

  <include file="$(find summit_xl_robot_local_control)/launch/marker_mapping.launch"/>
</launch>
