<?xml version="1.0"?>
<launch>
  <arg name="host" default="$(optenv ROBOT_ROSTFUL_SERVER_IP) localhost"/>
  <arg name="port" default="$(optenv ROBOT_ROSTFUL_SERVER_PORT) 8080"/>
  <arg name="url"	default="$(arg host):$(arg port)"/>
  <!--  -->
  <node pkg="rostful" type="client" name="rostful_client" output="screen"
   	args="--test --publish-interval 1 --prefix test $(arg url)"/>
    <!-- rest-prefix-server ros -->
</launch>
