<?xml version="1.0"?>
<launch>
  <arg name="host" default="$(optenv ROBOT_ROSTFUL_SERVER_IP) localhost"/>
  <arg name="port" default="$(optenv ROBOT_ROSTFUL_SERVER_PORT) 8080"/>
  <arg name="init_delay" default="1"/>
  <!-- args="- -host $(arg host) -p $(arg port) - -topics /agvs_controller/status - -services /agvs_magnet_navigator/action"/> -->
  <node pkg="rostful" type="server" name="rostful_server" output="screen" respawn="true" args="--host $(arg host) -p $(arg port)
      --topics /robot/robot_local_control/state

      --services /robot/robot_local_control/NavigationComponent/GoToComponent/query_state
                 /robot/robot_local_control/NavigationComponent/GoToComponent/add
                 /robot/robot_local_control/NavigationComponent/GoToComponent/cancel
                 /robot/robot_local_control/NavigationComponent/MoveComponent/query_state
                 /robot/robot_local_control/NavigationComponent/MoveComponent/add
                 /robot/robot_local_control/NavigationComponent/MoveComponent/cancel
                 /robot/robot_local_control/NavigationComponent/PickComponent/query_state
                 /robot/robot_local_control/NavigationComponent/PickComponent/add
                 /robot/robot_local_control/NavigationComponent/PickComponent/cancel">

    <param name="init_delay" value="$(arg init_delay)"/>
  </node>

</launch>
