<?xml version="1.0"?>
<launch>

  <!-- roslaunch arguments -->
  <arg name="debug" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="wait_for_datum" default="false" />
  <arg name="id_robot" default="$(optenv ROBOT_ID robot)"/>
  <arg name="prefix" default="$(arg id_robot)_"/>
  
  <!-- Transform from odom to base_footprint (IMU and odometry) -->
  <include file="$(find summit_xl_localization)/launch/robot_localization_odom.launch">
	  <arg name="prefix" value="$(arg prefix)"/>
  </include>

  <!-- Transform from world to odom (IMU, odometry and GPS) -->
  <include file="$(find summit_xl_localization)/launch/robot_localization_world.launch">
	  <arg name="prefix" value="$(arg prefix)"/>
  </include>

  <!-- Get GPS odometry -->
  <include file="$(find summit_xl_localization)/launch/navsat_transform_node.launch">
	<arg name="wait_for_datum" value="$(arg wait_for_datum)" />
  </include>

</launch>
