<?xml version="1.0"?>
<launch>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" args="
                      joint_pan_position_controller
                      joint_tilt_position_controller
                      joint_read_state_controller
                      --shutdown-timeout 1
                      "/>
                      <!-- For now, Gazebo cannot manage mecanum wheels, so we are not going to control the wheels using ros_control,
                           but using the ros_planar plugin. However, the camera pan/tilt itself is controlled by ros_control -->
                      <!--joint_blw_velocity_controller-->
                      <!--joint_brw_velocity_controller-->
                      <!--joint_frw_velocity_controller-->
                      <!--joint_flw_velocity_controller-->

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find summit_xl_control)/config/summit_xl_omni_control.yaml" command="load"/>

  <!-- once the joint_state is published, run the robot_state_publisher, the namespace has to be adapted --> 
  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
  </node>
  
  <node pkg="twist_mux" type="twist_mux" name="twist_mux">
    <rosparam command="load" file="$(find summit_xl_control)/config/twist_mux.yaml" />
    <remap from="cmd_vel_out" to="/summit_xl_control/cmd_vel" />
  </node>

</launch>

 
