<?xml version="1.0"?>
<robot name="summit_xl" xmlns:xacro="http://www.ros.org/wiki/xacro"> 


	<!-- ***************** -->
	<!-- Imported elements -->
	<!-- ***************** -->
	
	<!-- First we import all posible elements defined in the urdf.xacro files. All these elements are defined as macro:xacros -->

	<!-- Import summit XL base elements -->
	<xacro:include filename="$(find summit_xl_description)/urdf/bases/summit_xl_steel_base.urdf.xacro" />
  
	<!-- Import summit XL wheels -->
	<xacro:include filename="$(find summit_xl_description)/urdf/wheels/omni_wheel.urdf.xacro" />
    
	<!-- Import all available sensors -->
	<xacro:include filename="$(find robotnik_sensors)/urdf/all_sensors.urdf.xacro" />
  
    <xacro:property name="PI" value="3.1415926535897931"/>
	  
	<!-- Wheel parameters -->
	<xacro:property name="wheel_offset_x" value="0.223" />    <!-- x,y,z in translation from base_link to the center of the wheel -->
	<xacro:property name="wheel_offset_y" value="0.205" />    
	<xacro:property name="wheel_offset_z" value="0.0" />

	<!-- Flag to select the high or low quality model -->
	<xacro:property name="hq" value="true" />
	<xacro:arg name="prefix" default="summit_xl"/>
		
    <xacro:macro name="summit_xl_steel_multi" params="prefix publish_bf hq">

		<!-- *************** -->
		<!-- Robots Elements -->
		<!-- *************** -->

		<!-- Here we create the robot elements using the xacro:macros imported at the beggining of this file -->

		<!-- Summit XL base -->	
        <xacro:summit_xl_steel_base name="$(arg prefix)" publish_bf="true" hq="${hq}"/>		
		
		<!-- WHEELS -->
		<xacro:omni_wheel name="$(arg prefix)front_right" parent="$(arg prefix)base_link" reflect="false" hq="true">
			<origin xyz="${wheel_offset_x} -${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
		</xacro:omni_wheel>
	  
		<xacro:omni_wheel name="$(arg prefix)front_left" parent="$(arg prefix)base_link" reflect="true" hq="true">
			<origin xyz="${wheel_offset_x} ${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
		</xacro:omni_wheel>
	  
		<xacro:omni_wheel name="$(arg prefix)back_left" parent="$(arg prefix)base_link" reflect="false" hq="true">
			<origin xyz="-${wheel_offset_x} ${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
		</xacro:omni_wheel>
	  
		<xacro:omni_wheel name="$(arg prefix)back_right" parent="$(arg prefix)base_link" reflect="true" hq="true">
			<origin xyz="-${wheel_offset_x} -${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
		</xacro:omni_wheel>
	  	  		
		<xacro:sensor_imu_hector name="$(arg prefix)imu" parent="$(arg prefix)base_link" >
			<origin xyz="-0.18 0.0 0.170" rpy="0 0 0"/>
		</xacro:sensor_imu_hector>
		
		<xacro:sensor_hokuyo_ust10lx name="$(arg prefix)laser_front" parent="$(arg prefix)base_link">
			<origin xyz="0.373 -0.210 0.205" rpy="0 0 -0.7854"/>		
		</xacro:sensor_hokuyo_ust10lx>

		<xacro:sensor_hokuyo_ust10lx name="$(arg prefix)laser_rear" parent="$(arg prefix)base_link">
			<origin xyz="-0.373 0.210 0.205" rpy="0 0 2.3562"/>
		</xacro:sensor_hokuyo_ust10lx>
		
		<xacro:sensor_axis_m5013 name="$(arg prefix)camera_front" parent="$(arg prefix)base_link">
			<origin xyz="0.308 0.140 0.195" rpy="0 0 0"/>
		</xacro:sensor_axis_m5013>

		<xacro:sensor_axis_m5013 name="$(arg prefix)camera_rear" parent="$(arg prefix)base_link">
			<origin xyz="-0.308 -0.140 0.195" rpy="0 0 3.1416"/>
		</xacro:sensor_axis_m5013>

	
		<!-- Gazebo ros control pluggins -->
		<xacro:ros_control prefix="$(arg prefix)"/>
		
		<!-- Gazebo omni steering plugin -->
        <xacro:omni_steering prefix="$(arg prefix)"/>
		
   </xacro:macro>

   <xacro:summit_xl_steel_multi prefix="$(arg prefix)" publish_bf="true" hq="true"/>
	
</robot>

